* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  grid-template-areas:
    "enemy-info enemy-info enemy-sprite"
    "player-sprite player-info player-info "
    "chat-container chat-container chat-container";
  background-color: aquamarine;
  width: 1000px;
  height: 800px;
}

/* Grid areas */
#enemy-info {
  background-color: red;
  grid-area: enemy-info;
}

#player-info {
  background-color: blue;
  grid-area: player-info;
}

#enemy-sprite {
  background-color: lightcoral;
  grid-area: enemy-sprite;
}

#player-sprite {
  background-color: lightblue;
  grid-area: player-sprite;
}

.chat-container {
  grid-area: chat-container;
  background-color: lightgray;

  display: grid;
  grid-template-columns: 1fr 0.9fr;

  grid-template-areas: "chat options-container";
}

.options-container {
  display: none;
  grid-area: options-container;
  background-color: lightgreen;
}
