* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-game {
  display: flex;
  justify-content: center;
}
.start-game > button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #414141;
  color: white;
  border: none;
  cursor: pointer;
}
.start-game > button:hover {
  background-color: #45a049;
}
.game-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 800px;
}
.game-container {
  background-color: aquamarine;

  height: 800px;
  width: 1000px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  grid-template-areas:
    "enemy-info enemy-sprite"
    "player-info player-sprite"
    "chat-container chat-container";
}

.info {
}

#enemy-info {
  background-color: red;
  grid-area: enemy-info;
}

#player-info {
  background-color: blue;
  grid-area: player-info;
}
#enemy-sprite {
  background-color: lightcoral;
  grid-area: enemy-sprite;
}
#player-sprite {
  background-color: lightblue;
  grid-area: player-sprite;
}

.sprite {
}
.chat-container {
  grid-area: chat-container;
}
